@import url(//db.onlinewebfonts.com/c/aa4fa7317c478848a62cc69bdbd47f0f?family=Santana-Black);
@font-face {font-family: "Santana-Black"; src: url("//db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.eot"); src: url("//db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.woff") format("woff"), url("//db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.svg#Santana-Black") format("svg"); }

* {
  background-color: #006241;
  color: white;
}

#intro {
  padding-top: 4.375rem;
  padding-bottom: 3.75rem;
  font-size: 1.6rem;
  line-height: 200%;
  display: box;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 3px black;

}

#logo {
  height: 4.4375rem;
  margin: 0.625rem;
}

#generate {
background-color: black;  
display: inline-block;
font-size: 1.25rem;
cursor: pointer; 
margin-bottom: 3.125rem;  
  padding: 1.25rem;
font-family: 'Santana-Black', Times;
}

.container {
display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  margin-top: 1.875rem;
  }

.button-container {
display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  margin-top: 1.875rem;  
  } 

#order {
font-size: 1.4rem;
background-color: white;
color: black;
display: flex;
justify-content: center;
align-items: center;
padding: 0.625rem;
border: 5px solid black;
 max-width: 70%;
 margin: 0 auto;
}

button {
    font-family : inherit;
    font-size: 0.5rem;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:focus {
  outline:0;
}


h1 {
  text-align: center;
  font-family: 'Santana-Black', Times;
  font-size: 2.5rem;
  text-shadow: 5px 5px black;
  letter-spacing: 10%;
  
}

#forgot {
 font-size: 1.25rem;
display: flex;
justify-content: center;
align-items: center;
}

/*Make responsive on mobile*/

@media screen and (max-width: 530px) {
  h1 {
    float: none;
    width: 100%;
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }
  #logo {
    height: 150%;
  }
  
  #intro {
    font-size: 1.1rem;
    padding-top: 5.5rem;
    padding-bottom: 2rem;
  }
  
  #generate {
  width: 70%;
  }
  
  #order {
  font-size: 1rem;  
  line-height: 1.3rem;
  }
  
  #forgot {
  font-size: 0.8rem;  
    
  }
}
