@import url(//db.onlinewebfonts.com/c/aa4fa7317c478848a62cc69bdbd47f0f?family=Santana-Black);
@font-face {font-family: "Santana-Black"; src: url("//db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.eot"); src: url("//db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.woff") format("woff"), url("//db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.svg#Santana-Black") format("svg"); }

* {
  background-color: #006241;
  color: white;
  font-family: "Ariel", Serif;
  text-overflow: wrap;
}

#intro {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 30px;
  display: box;
  line-height: 55px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 3px black;

}

#logo {
  height: 80px;
  margin: 10px;
}

#generate {
background-color: black;  
display: inline-block;
font-size: 20px;
cursor: pointer; 
margin-bottom: 50px;
  padding: 20px;
font-family: 'Santana-Black', Times;
}

.container {
display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 30px;
  }

.button-container {
display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 30px;  
  } 

#order {
font-size: 30px;
background-color: white;
color: black;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
border: 5px solid black;
 max-width: 70%;
 margin: 0 auto;
}

button {
    font-family : inherit;
    font-size: 0.5em;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:focus {
  outline:0;
}


h1 {
  text-align: center;
  font-family: 'Santana-Black', Times;
  font-size: 40px;
  text-shadow: 5px 5px black;
  letter-spacing: 5px;
  
}

#forgot {
 font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
 color: black; 
}

/*Make responsive on mobile*/
@media screen and (max-width: 600px) {
  p, h1, #intro, #order a {
    float: none;
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  h1 {
    float: none;
    width: 100%;
    font-size: 20px;
  }
}
